* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  background: white;
  padding: 1em;
}

.box1 {
  align-self: flex-start;
  background-color: lightgray;
}

.box2 {
  align-self: flex-end;
  background-color: lightgray;
}

.box3 {
  justify-self: end;
  background-color: lightgray;
}

.box4 {
  align-self: center;
  background-color: lightgray;
}
